main {
	width: 90%;
	margin: 0px auto;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 3px #0c1726;
	color: #c23b30;
	font-size: 2em;
}

#bromotionCardContainer {
	background-color: #e2e8d6;
	padding: 15px 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 50%;
}

#bromotionCard {
	background-color: #e2e8d6;
	padding: 15px 20px;
	margin: 20px 2px;
	border: 3px solid #0C1726;
}
#bromotionCard img {
	width: 50%;
}

