

#openPositions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

.career {
	width: 60%;
	background-color: #e2e8d6;
	padding: 5px 20px;
	margin: 20px 0; 
	text-align: center;
	border: 3px solid black;
}

.giveUsYourInfo {
	text-align: center;
	background-color: #e2e8d6;
	padding: 5px 20px;
	margin: 20px 0; 
}


h1 {
	text-align: center;
	text-shadow: 2px 2px 3px #0c1726;
	color: #c23b30;
}

.career-title {
	font-family: "Trebuchet MS";
}

.career-salary {
	font-family: "Comic Sans MS";
}