#employee-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: 0 auto; 
}

.employee {
	width: 400px;
	border: 2px solid #0c1726;
	margin: 1%;
}

.employee-pic img {
	max-width: 100%;
	border-top:  1px solid gray;
	border-bottom:  1px solid gray;
}

.employee-name, .employee-title {
	text-align: center;
}

.employee-title {
	color: #C23B30;
}