
h2 {
	text-decoration: underline;
}

#testimonyContainer {
	display: flex;
	justify-content: center;
}

.testimony {
	margin: 1em;
	text-align: center;	
	background-color: #e2e8d6;
	padding: 15px 20px;
	
	width: 25%;
	border: 3px solid #0C1726;
}
}
.description {
	padding: 0 1em;
}