h1 {
	text-align: center;
	text-shadow: 2px 2px 3px #0c1726;
	color: #c23b30;
	font-size: 2em;
}

h2 {
	text-decoration: underline;
	}
main h2 {
	text-align: center;
	text-decoration: none;
}

#testimonyContainer {
	display: flex;
	justify-content: center;
}

.testimony {
	margin: 1em;
	text-align: center;	
	background-color: #e2e8d6;
	padding: 15px 20px;	
	width: 25%;
	border: 3px solid #0C1726;
}
}
.description {
	padding: 0 1em;
}